<div class="container">

    <div class ="container text-center elegant-bottom-lign ">
      <h1>Get ready for your next adventure</h1>
      <%# <h3>Search your dream cruise</h3> %>
    </div>

    <div class="container search-home">
          <%= form_with url: pages_results_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                id: "form-homepage",
                placeholder: "The adventure starts now"
            %>
          <%= submit_tag "Find your paradise", name: "", class: "btn btn-primary" %>
        <% end %>
    </div>

    <div class="container">
      <div class="map-container">
        <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json%>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

      </div>
    </div>

</div>
