<div class="container">
  <%= simple_form_for Cruise.new do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :starting_date %>
      </div>
      <div class="col-sm-6">
        <%= f.input :ending_date %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :price %>
      </div>
      <div class="col-sm-6">
        <%= f.input :capacity %>
      </div>
    </div>

    <div class="form-actions text-center">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>



<div class="banner" style="background-image: url('<%= asset_path('Group 9.png') %>'); background-size: 900px;">
</div>

<br>
<div class="container mt-3">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Our recomended Cruises</h1>
    </div>
  </div>
<br>

  <div class="row d-flex">
    <% @cruises.each do |cruise| %>
      <div class="col-md-4">
        <div class="cruise-card">
          <div class="cruise-card-content">
            <div class="cruise-card-title">
              <h4><%= cruise.title %></h4>
            </div>
            <p><%= cruise.itinerary %></p>
            <div class="flex">
              <div class="flex align-items-center">
                <i class="fa-solid fa-sailboat"></i>
                <span><%= cruise.boat_model %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= cruise.price %></span>
              </div>
            </div>
          </div>
          <div class="cruise-card-actions">
            <%= link_to "More info", cruise_path(cruise) %>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
