<h1>My profile</h1>

<div>
  <ul>
    <li>Email: <%= @profile.email %></li>
    <li>First Name: <%= @profile.first_name %></li>
    <li>Last Name: <%= @profile.last_name %></li>
    <li>Gender: <%= @profile.gender%></li>
    <li>Date of birth: <%= @profile.date_of_birth%></li>
    <li>Address: <%= @profile.address%></li>
    <li>Postcode: <%= @profile.postcode%></li>
    <li>City: <%= @profile.city%></li>
    <li>Sailing experience: <%= @profile.sailing_experience%></li>
    <li>Biography: <%= @profile.description%></li></li>
  </ul>
</div>
<%= link_to "Edit your profile", edit_user_registration_path %>

<h1>Reviews as a passenger</h1>

<!-- Attente de la table review -->

<h1>Reviews as a skipper</h1>

<!-- Attente de la table review -->
