<br>
<div class="container margin-top-negative cruise-show-photos">
  <% @cruise.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</div>
<br>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-6">
      <div class="cruise-show-card">
        <h1><%= @cruise.title %></h1>
        <div class="d-flex m-2">
        <% if @cruise.owner.image.attached? %>
          <%= link_to image_tag(@cruise.owner.image, class: "avatar-large me-3"), pages_user_profil_path(@cruise.owner) %>
        <% else %>
          <%= image_tag "https://static.vecteezy.com/ti/gratis-vector/p3/7319933-black-avatar-person-icons-user-profile-icon-vector.jpg", class: "avatar m-2"%>
        <% end %>
        <% if @cruise.owner.rate.present? %>
          <span class="cruise-show-itinerary align-self-center"><strong>Skipper:</strong> <%= @cruise.owner.first_name %> <%= @cruise.owner.rate.round(2) %><i class="fa-sharp fa-solid fa-star " style="color:orange"></i></span>
        <% end %>

        </div>
        <div class="m-2 mt-4">
          <ul class="list-inline">
            <li><i class="fa-solid fa-map-pin" style="color:green"></i>  <%= @cruise.from%></li>
            <li><i class="fa-solid fa-map-pin" style="color:red"></i>  <%= @cruise.to%></li>
            <li><i class="fa-sharp fa-solid fa-sailboat"></i> <%= @cruise.boat_model %> (<%= @cruise.boat_age %> years)</li>
          </ul>
        </div>
      </div>
      <div class="cruise-show-card">
        <h3>A bit more about this cruise:</h3>
        <p><%= @cruise.description %></p>
      </div>
      <div class="cruise-show-card">
        <h3>Details</h3>
        <div class="">
          <i class="fa-regular fa-calendar" style="color:red"></i>  <strong>From </strong><%= @cruise.starting_date %> <strong>to</strong> <%= @cruise.ending_date %>
        </div>
        <div class="">
         <span> <i class="fa-solid fa-euro-sign" style="color:green"></i> <%= @cruise.price %></span>
        </div>
        <div class="">
          <span><i class="fa-sharp fa-solid fa-person"></i> <%= @cruise.capacity %> places availables</span>
        </div>
      </div>
      <div class="cruise-show-card">
        <div class="flex-align">
          <h3 class="no-mb">Share</h3>
          <div class="flex">
            <i class="fa-brands fa-facebook-square me-2"></i>
            <i class="fa-brands fa-twitter-square me-2"></i>
            <i class="fa-brands fa-pinterest-square me-2"></i>
          </div>
        </div>
      </div>
      <div class="cruise-show-card">
        <% if user_signed_in? %>
          <% if @cruise.owner_id == current_user.id %>
            <p>This is your cruise</p>
          <% elsif Booking.exists?(customer_id: current_user.id, cruise_id: @cruise.id) %>
            <p>You already sent a booking request</p>
            <p>Your status: <%= Booking.find_by(customer_id: current_user.id).status  %></p>
          <% else %>
            <h3>Book this cruise!</h3>
            <%= simple_form_for [@cruise, @booking] do |f| %>
              <%= f.input :user_description, label: 'Message', placeholder: "Tell us more about you!" %>
              <%= f.input :number_of_passengers, label: 'Number of guests', collection: 1..@cruise.capacity  %>
              <%= f.submit 'Send a booking request', class: "btn btn-primary justify-centent-center" %>
            <% end %>
          <% end %>
        <% else %>
          <p>You need to login to be able to book this cruise</p>
        <% end %>
      </div>
      <div class="cruise-show-card">
        <% if user_signed_in? %>
          <div class="btn-align-center">
            <% if policy(@cruise).edit? %>
              <a href="<%= edit_cruise_path(@cruise) %>" class="btn btn-primary">Edit</a>
            <% end %>
            <% if policy(@cruise).destroy? %>
              <%= button_to "Destroy", @cruise, method: :delete, class: "btn btn-danger" %>
            <% end %>

          </div>
        <% end %>
      </div>
    </div>
    <div class="col-6 text-center sticky-top">
      <div class="cruise-show-card">
        <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json%>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
